@charset "UTF-8";
/* IMPORT COMPONENTS */
/* -------------------------------------------
MIXINS & VARIABLES 
------------------------------------------- */
/* -------------------------------------------
BASIC ELEMENTS
------------------------------------------- */
html {
  font-size: 16px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #010101; }

.wrapper {
  width: 960px;
  margin: auto; }

    @media only screen and (max-width: 599px) {
    .wrapper {
     width: 100%; } }


html * {
  outline: none !important; }

/* -------------------------------------------
HEADER STYLES
------------------------------------------- */
.page-header {
  width: 100%;
  margin-top: 16px;
  margin-top: 1rem; }
  @media only screen and (max-width: 599px) {
    .page-header {
      margin-top: 4rem; } }

.logo-wrapper {
  width: 100%;
  clear: both;
  display: inline-block; }

.logo {
  float: left;
  padding-top: 10px; }

.topper {
  float: right; }
@media only screen and (max-width: 599px) {
 img {
    max-width: 100%; 
   } }
@media only screen and (max-width: 599px) {
  .logo img {
    margin: auto; 
   } }

.main-nav {
  width: 100%;
  height: 36px;
  border-radius: 6px;
  background-image: url("../img/menu-bg.png");
  margin-top: 10px;
  margin-top: 0.5rem;
  display: block; }
  @media only screen and (max-width: 599px) {
    .main-nav {
      display: none; } }

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .main-nav ul li {
    display: inline-block;
    padding: 7px 0px;
    border-left: 1px solid #ccc;
    text-align: center; }
  .main-nav ul li:first-child {
    border-left: 0px; }
  .main-nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #595959;
    font-size: 13px;
    font-size: 0.8125rem;
    padding: 0 17px;
    margin: 0;
    width: auto; }
  .main-nav ul li a:hover {
    text-decoration: none;
    color: #007cb8; }
  .main-nav ul li a.active-link {
    color: #007cb8; }

/* -------------------------------------------
FOOTER STYLES
------------------------------------------- */
.fine-print {
  font-size: 10px;
  font-size: 0.625rem;
  text-align: justify;
  margin-bottom: 32px;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 599px) {
    .fine-print {
      padding-left: 16px;
      width: 90%; } }
  .fine-print a {
    color: #d59340;
    text-decoration: underline;
    font-weight: bold; }
  .fine-print a:hover {
    color: #010101; }

/* -------------------------------------------
PAGE CONTENT STYLES
------------------------------------------- */
.homepage {
  width: 100%;
  height: auto;
  background: #fff;
  margin-top: 20px;
  margin-top: 1rem;
  overflow: auto;
  text-align: center; }
  .homepage h1 {
    background: #fdbb30;
    font-size: 34px;
    font-size: 2.125rem;
    text-align: center;
    color: #010101;
    text-transform: uppercase;
    width: 100%;
    padding: 5px 0;
    margin: 0; }

.homepage-heading {
  margin: 25px 0 10px 0;
  margin: 1.5rem 0 0.7rem 0;
  text-align: center;
  height: auto; }

.homepage-photos {
  text-align: center;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  height: auto; }

.homepage-claim-now {
  height: auto;
  text-align: center;
  margin-bottom: 32px;
  margin-bottom: 2rem; }

#content {
  margin-top: 8px;
  margin-top: 0.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  width: 100%; }
  @media only screen and (max-width: 599px) {
    #content {
      width: 90%;
      padding-left: 10px; } }
  #content h1 {
    font-size: 26px;
    font-size: 1.652rem; }
    @media only screen and (max-width: 599px) {
      #content h1 {
        padding: 16px 0 16px 0; } }
  @media only screen and (max-width: 599px) {
    #content p {
      padding: 16px; } }
  #content a {
    color: #d59340;
    font-weight: bold; }
  #content a:hover {
    text-decoration: none; }

.light-grey-box {
  background: #f0f0f0;
  width: 960px;
  overflow: auto;
  font-size: 14px;
  font-size: 0.875rem;
  clear: both; }

.light-grey-box-inner {
  padding: 16px;
  padding: 1rem; }

.full-width-item {
  width: 100%;
  display: block;
  clear: both; }
  .full-width-item .item-lower {
    clear: both;
    padding-top: 3px;
    padding-top: 0.2rem; }
  .full-width-item .item-lower ul li {
    margin-bottom: 8px;
    margin-bottom: 0.5rem; }
  .full-width-item .item-num {
    padding: 4px 8px;
    background: #fdbb30;
    font-weight: bold;
    float: left;
    width: 16px;
    text-align: center; }
  .full-width-item .item-right {
    float: left;
    padding: 4px 28px 4px 10px;
    width: 92%; }
  .full-width-item .item-right p {
    margin: 0 0 16px 16px;
    padding: 0; }

.third-width-wrapper {
  display: inline-block;
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

.third-width-item {
  width: 30%;
  float: left;
  margin-right: 1%;
  height: auto;
  display: inline-block; }
  .third-width-item img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 6px; }
  .third-width-item .item-num {
    padding: 4px 8px;
    background: #fdbb30;
    font-weight: bold;
    float: left;
    width: 16px;
    text-align: Center; }
  .third-width-item .item-right {
    float: left;
    width: 83%; }
  .third-width-item .item-right p {
    margin: 0 0 0 8px; }

.full-width-white-item {
  background: #fff;
  padding: 16px;
  padding: 1rem;
  color: #010101;
  width: 95%;
  display: block;
  clear: both;
  font-size: 14px;
  font-size: 0.875rem ul;
    font-size-margin: 0;
    font-size-padding: 0 0 0 16px;
    font-size-padding: 0 0 0 1rem; }
  .full-width-white-item ul li {
    margin-bottom: 8px;
    margin-bottom: 0.5rem; }

.terms-header {
  width: 100%;
  clear: both;
  display: inline-block;
  margin-bottom: 16px;
  margin-bottom: 1rem; }

.terms-left {
  float: none; }

.terms-left td{
  padding-left: 10px;
    padding-bottom: 10px;}

.terms-right {
  float: left; }

.terms-page ol {
  font-size: 14px;
  font-size: 0.8rem; }

/* -------------------------------------------
COMMON ELEMENTS
------------------------------------------- */
.button {
  background: #fdbb30;
  color: #010101;
  padding: 18px 32px;
  padding: 1.125rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 26px;
  font-size: 1.625rem; }

.button:hover {
  background: #010101;
  color: #fdbb30; }

.modal-button {
  background: #fdbb30;
  color: #010101 !important;
  padding: 10px 24px;
  padding: 0.7rem 1.5rem;
  text-decoration: none !important;
  font-family: "Droid Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-size: 1.2rem;
  margin: 10px 0;
  margin: 0.7rem 0;
  display: inline-block;
  border-radius: 2px; }

.emphasis {
  color: #ff0000; }

.small-text {
  font-size: 12px;
  font-size: 0.7rem; }

.big-link {
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.125rem; }

/* -------------------------------------------
jQUERY UI OVERRIDES
------------------------------------------- */
.ui-widget * {
  outline: none !important; }

​
.ui-widget {
  font-size: 16px !important;
  font-size: 1rem !important;
  font-family: Arial, Helvetica, sans-serif !important; }

.ui-widget-overlay {
  background: #010101 !important;
  opacity: 0.8 !important; }

.ui-dialog-title {
  display: none !important;
  overflow: visible !important; }

.ui-dialog-titlebar {
  background: #010101 !important;
  color: #fff !important;
  border: none !important;
  padding: 0.8em 0 0em 0 !important;
  margin-bottom: 0.6em !important; }

.ui-corner-all {
  border-radius: 0 !important; }

.ui-dialog {
  background: #010101 !important; }

.ui-dialog .ui-widget-content {
  background: #010101 !important;
  color: #fff !important;
  font-size: 16px !important;
  font-size: 1rem !important;
  font-family: Arial, Helvetica, sans-serif !important; }
  .ui-dialog .ui-widget-content ul {
    list-style-type: none;
    padding: 0;
    margin: 16px 0 16px 0;
    margin: 1rem 0 1rem 0; }
  .ui-dialog .ui-widget-content ul li {
    display: block;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
    background: url("../img/bullet.png") no-repeat top left;
    padding: 2px 0 4px 30px; }
  .ui-dialog .ui-widget-content ul li a {
    font-weight: bold !important;
    color: #fdbb30 !important;
    text-decoration: underline !important; }
  .ui-dialog .ui-widget-content ul li a:hover {
    text-decoration: none !important; }

.ui-dialog .ui-dialog-content {
  padding: 2rem 2rem 0 2rem !important; }

.ui-icon {
  height: 24px !important;
  width: 24px !important; }

.ui-icon-closethick {
  background-image: url("../img/close.png") !important;
  background-position: left top !important; }

.ui-state-default {
  border: 0 !important;
  background: none !important; }

#accordion-faqs .ui-accordion-content, #accordion-claim .ui-accordion-content {
  border: 0;
  overflow: auto;
  padding: 1em !important;
  font-family: Arial, Helvetica, sans-serif !important; }
  #accordion-faqs .ui-accordion-content a, #accordion-claim .ui-accordion-content a {
    font-weight: bold;
    color: #d59340; }

#accordion-faqs, #accordion-claim {
  font-family: font-stack !important; }

#accordion-faqs .ui-widget h3, #accordion-claim .ui-widget h3 {
  font-size: 16px !important;
  font-size: 1rem;
  font-weight: bold;
  color: #010101;
  font-family: Arial, Helvetica, sans-serif !important;
  padding-top: 10px; }

#accordion-faqs .ui-widget, #accordion-claim .ui-widget {
  font-family: Arial, Helvetica, sans-serif !important; }

#accordion-claim .ui-accordion-content {
  background: #f0f0f0; }

#accordion-faqs .ui-accordion-content p, #accordion-claim .ui-accordion-content p {
  font-size: 16px !important;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif !important; }

#accordion-faqs .ui-state-default, #accordion-faqs .ui-widget-content #accordion-faqs .ui-state-default, #accordion-faqs .ui-widget-header #accordion-faqs .ui-state-default, #accordion-faqs-2 .ui-state-default, #accordion-faqs-2 .ui-widget-content #accordion-faqs-2 .ui-state-default, #accordion-faqs-2 .ui-widget-header #accordion-faqs-2 .ui-state-default {
  background: url("../img/bg-accordion.png") repeat-x scroll 0% 0% #d2d2d2 !important;
  border-left: 2px solid #f0f0f0 !important;
  border-right: 2px solid #f0f0f0 !important;
  color: #010101;
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-family: Arial, Helvetica, sans-serif !important; }

#accordion-claim .ui-state-default, #accordion-claim .ui-widget-content #accordion-claim .ui-state-default, #accordion-claim .ui-widget-header #accordion-claim .ui-state-default {
  background: url("../img/bg-accordion.png") repeat-x scroll 0% 0% #d2d2d2 !important;
  border-left: 2px solid #f0f0f0 !important;
  border-right: 2px solid #f0f0f0 !important;
  color: #010101;
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-family: Arial, Helvetica, sans-serif !important; }

#accordion-faqs .ui-state-default .ui-icon, #accordion-claim .ui-state-default .ui-icon {
  background-image: url("../img/icon-accordion-collapsed.png"); }

#accordion-faqs .ui-icon-triangle-1-e, #accordion-claim .ui-icon-triangle-1-e {
  background-position: 0px 0px; }

#accordion-faqs .ui-icon, #accordion-claim .ui-icon {
  height: 21px;
  width: 21px; }

#accordion-faqs .ui-icon-triangle-1-s, #accordion-claim .ui-icon-triangle-1-s {
  background-image: url("../img/icon-accordion-expanded.png") !important;
  background-position: 0px 0px; }

#accordion-claim {
  margin-bottom: 16px;
  margin-bottom: 1rem; }

#accordion-claim .accordion-left {
  width: 60%;
  float: left;
  margin-right: 32px;
  margin-right: 2rem; }

#accordion-claim .accordion-right {
  float: left; }

/* -------------------------------------------
BP STYLES
------------------------------------------- */
.dicl-tb {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0; }

.dicl-tr {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0; }

.dicl-td-1-1 {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  border: solid 0px red; }

.dicl-td-left {
  display: block;
  float: left;
  width: 49%;
  margin-right: 1%;
  padding: 0 !important;
  min-width: 168px !important; }

.dicl-td-right {
  display: block;
  float: left;
  width: 49%;
  margin-left: 1%;
  padding: 0 !important;
  min-width: 168px !important; }

.dicl-td-right img {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%; }

.dicl-td-left h2,
.dicl-td-right h2 {
  font-family: Symantec, Arial;
  font-size: 24px !important;
  color: #000;
  margin-top: 0 !important;
  padding-top: 0 !important; }

.dicl-tb ol {
  padding: 0 0 0 27px; }

.dicl-tb ul {
  padding: 0 0 0 18px; }

.dicl-tb ol li,
.dicl-tb ul li {
  font-size: 14px !important;
  line-height: normal !important;
  padding: 0 0 0 20px; }

/* -------------------------------------------
MOBILE MENU
------------------------------------------- */
#mob-menu-wrapper {
  display: none; }
  @media only screen and (max-width: 599px) {
    #mob-menu-wrapper {
      display: block;
      width: 100%; } }

.mob-menu-wrapper {
  display: block;
  position: absolute;
  left: 0;
  right: 0;

  top: -155px;
  background: #000;
  transition: all 1s ease;
  z-index: 900; }

.mob-menu-wrapper ul {
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  }

.mob-menu-wrapper li {
  list-style-type: none;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  padding: 0; }

.mob-menu-wrapper li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Symantec, Arial;
  text-decoration: none; }

a#hide_menu {
  display: none; }

a#open_menu {
  display: block; }

#mob-menu-wrapper:target {
  top: 0px;
  transition: all 1s ease; }

#mob-menu-wrapper:target a#open_menu {
  display: none; }

#mob-menu-wrapper:target a#hide_menu {
  display: block; }

.ribbon {
  display: block;
  width: 100%;
  height: 50px;
  background: #000;
  border: solid 0px red; }

.ribbon a {
  text-align: center;
  font-family: Helvetica, Arial;
  font-size: 18px;
  color: #fff;
  text-decoration: none; }

.ribbon a#open_menu:before {
  content: "↓ ";
  font-size: 1.5em;
  font-weight: bold; }

.ribbon a#hide_menu:before {
  content: "↑ ";
  font-size: 1.5em;
  font-weight: bold; }

@media only screen and (max-width: 599px) {
  .desktop {
    display: none; } }

.mobile {
  display: none; }
  @media only screen and (max-width: 599px) {
    .mobile {
      display: block; } }

.item-lower td{padding-left: 10px;
}


/*# sourceMappingURL=style.css.map */
